	<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					
					<header>
						<h1>Welcome to my website!</h1>
						<p>TThis is my website hope you like it</p>
					  </header>
				  
					  <section>
						<header>
						  <h2>About Me</h2>
						</header>
						<p>My name is sarfaraz patel and I am a student of seneca.</p>
					  </section>
					
					<!-- End your code here  -->



				</main>
			</div>
	</div>

