<!DOCTYPE html>
<html>
  <head>
    <title>Add Course</title>
  </head>
  <body>
    <h1>Add Course</h1>
    <form method="post" action="/courses/add">
      <label for="courseCode">Course Code:</label>
      <input type="text" id="courseCode" name="courseCode"><br>

      <label for="courseDescription">Course Description:</label>
      <input type="text" id="courseDescription" name="courseDescription"><br>

      <button type="submit">Add Course</button>
    </form>
  </body>
</html>

