
<div class="container">
	<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					
					
					<header>
						<h1>Welcome to my new website!</h1>
						<p>In this webste I will be describing about animals </p>
					  </header>
				  
					  <section>
						<header>
						  <h2>About </h2>
						</header>
						<p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including: 
						  <a href="/">Home</a>, 
						  <a href="/about">About</a>, 
						  <a href="/htmldemo">HTML Demo</a>, 
						  <a href="/students">All Students</a>, 
						  <a href="/students?course=3">Students by Course</a>, 
						  <a href="/student/2">A Single Student By Student Number</a>, 
						  <a href="/tas">All Managers</a>, and 
						  <a href="/courses">All Courses</a>.
						</p>
					  </section>
				  
					  <section>
						<header>
						  <h2>List Of Animals</h2>
						</header>
						<p>Will anyone want to buy 2,000 rhinos? We’ll soon find out.
A South African entrepreneur built the world’s largest rhino farm. Here’s how everything fell apart—and what that means for the future of these at-risk animals.</p>
					  </section>
					<!-- End your code here  -->



				</main>
	</div>
</div>
